/** IMPORTING THE FONTS **/
@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,700&display=swap');

/** RESET **/
* {
	margin: 0px;
	padding: 0px;
	font-family: 'Poppins', sans-serif;
}

body { background: #f5f5f5; }