<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate">
	<meta http-equiv="Pragma" content="no-cache">
	<meta http-equiv="Expires" content="0">
	<meta charset="utf-8">
	<meta name="theme-color" content="#2349ec" />
	<title>PiCamHub | Dashboard</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<!-- CSS Dependencies -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<link rel="stylesheet" href="../static/shards.min.css">

	<!-- Local CSS -->
	<link rel="stylesheet" type="text/css" href="../static/style.css">

	<!-- JS Dependencies -->
	<script src="https://kit.fontawesome.com/398832e74c.js"></script>
</head>
	<body>
		<div class="container">
			<div class="row">
				<div class="col-md-3">
					<h1>{{ time }}</h1>
				</div>
			</div>
		</div>
	</body>
</html>